<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="DB_CONNECTION" value="testing"/>
    <env name="DB_DATABASE" value=":memory:"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="SCOUT_DRIVER" value="collection"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
    <env name="CORETREK_IDP_BASE_URL" value="http://coretrek-idp.test"/>
    <env name="CORETREK_IDP_CLIENT_ID" value="986b2415-d423-447d-8d32-e83ee78d7d66"/>
    <env name="CORETREK_IDP_CLIENT_SECRET" value="SsEeArd2b8ILJ1TJmDfDyX24PNx6yB6sY86twhO4"/>
    <env name="APP_KEY" value="base64:CmcnI/jFWR1wMVoG4e9MxX/flO6IEB0/Y1Z6uYOpMRI="/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
